body{
    background-color: #aaa293 !important;
    color: #555149 !important;
}

#encabezado {
    height: 758px;
    background-color: #aaa293;
    position: fixed;
}

#encabezado h1 {
    text-align: center;
    margin-top: .25em;
    font-size: 36px; /* Tomar esto como medida, luego le haremos un sass para que sea facil cambiarlo */
    margin-left: .25em;
}

#encabezado.menulateral {
    text-align: center;
}

/* Globales */

.secciones {
    background-color: #Fff3dc;
    height: 758px;
    padding-left: 40px;
}

.seccionesh2 {
    font-size: 25px;
    text-align: left;
    padding-top: 2em;
    padding-bottom: 2em;
}

.seccionesp {
    justify-content: left;
    font-size: 16px;
    display: block;
    margin-right: 3em;
}

.sinestilo {
    list-style: none;
}

header nav {
    margin-top: 2em;
}

#info {
    height: 758px;
    background-color: #Fff3dc
}

img {
    border-radius: 50%;
    width: 165px;
    height: 165px;
    margin-top: 1em;
}

.foto {
    align-items: center;
}

.links {
    text-decoration: none;
    color: black;
}

.quitarblanco {
    margin-top: 0;
}